#Introduccion a Python

## 1. Tipo de datos
* Numerico (int=enteros, float=decimales)
* Booleanos (TRUE - verdadero, FALSE - falso)
* Alfanumericos o cadena de caracteres ("son todos aquellos que se encuetran entre comillas". Se conoce como tipo string)
* Listas ([])
* Duplas ()
* Diccionarios ({})

Comando type(): Com que tipo de datos estamos manejando

In [ ]:
a=5+3*4
type(a)

int

In [ ]:
##Print es una funcion que me permite imprimir el resultado
print(f"5+3*4={5+3*4} y es un valor de tipo {type(5+3*4)}")

5+3*4=17 y es un valor de tipo <class 'int'>

In [ ]:
"5"+"2"*3

'5222'

In [ ]:
type("5"+"2"*3)

str

In [ ]:
print(f'"5"+"2"*3"={"5"+"2"*3} y es un valor de tipo {type("5"+"2"*3)}')

"5"+"2"*3"=5222 y es un valor de tipo <class 'str'>

In [ ]:
2**11 #** potenciacion

2048

In [ ]:
2**11 == 1000

False

In [ ]:
2 ** 9 == 100

False

In [ ]:
## operadores logicos
##y - and: CONJUNCION. Algo es verdadero, si ambas preposiciones son verdaderas
##o -or: DISYUNCION: Una presposicion es verdadera, si ambas preposiciones son verdaderas
##no - not: NEGACION: Altera el valorde verdad de la preposicion
2 ** 11 == 1000 or 2 ** 9 == 100

False

In [ ]:
## = asignar. == COMPARAR
type(2** 11 == 1000 or 2 ** 9 == 100)

bool

In [ ]:
print(f"2** 11 == 1000 or 2 ** 9 == 100={2** 11 == 1000 or 2 ** 9 == 100} y es un valor de tipo {type(2** 11 == 1000 or 2 ** 9 == 100)}")

2** 11 == 1000 or 2 ** 9 == 100=False y es un valor de tipo <class 'bool'>

In [ ]:
int("cincuenta")

ValueError: invalid literal for int() with base 10: 'cincuenta'

In [ ]:
int("50")

50

In [ ]:
type(16/16 + 384/24)

float

In [ ]:
print(f"16/16 + 384/24={16/16 + 384/24} y es un valor de tipo {type(16/16 + 384/24)}")

16/16 + 384/24=17.0 y es un valor de tipo <class 'float'>

In [ ]:
#El porcentaje en python es modulo
600 + 18%2

600

In [ ]:
0 < (4096 % 10) < 6

False

In [ ]:
print(f"0 < (4096 % 10) < 6={0 < (4096 % 10) < 6} y es un valor de tipo {type(0 < (4096 % 10) < 6)}")

0 < (4096 % 10) < 6=False y es un valor de tipo <class 'bool'>

In [ ]:
# Suma de dos string. Cuando se suman dos string, se unen (Concatenacion)
'Max'+'Min'

'MaxMin'

In [ ]:
print(f"'Max'+'Min'={'Max'+'Min'} y es un valor de tipo {type('Max'+'Min')}")

'Max'+'Min'=MaxMin y es un valor de tipo <class 'str'>

In [ ]:
# Error porque la funcion ABC() y DEF() no esta definida
ABC() * DEF()

NameError: name 'ABC' is not defined

In [ ]:
float(-int("7")+int('90))

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-38-c81e33bedfc5>, line 1)

In [ ]:
#abs: funcion que calcula el valor absoluto. Ej: abs(-8)=8
#len: funcion que cuenta cuantos caracteres  tiene la cadena. Ej: len("seis")=4
abs(len('seis') - len('tres'))

0

In [ ]:
print(f"len('seis') - len('tres')={len('seis') - len('tres')} y es un valor de tipo {type(len('seis') - len('tres'))}")

len('seis') - len('tres')=0 y es un valor de tipo <class 'int'>

In [ ]:
#Cualquier numero (que no sea el 0) al convertirse en booleano da true
bool(1210) or bool(-3465)

True

In [ ]:
float(str(int('8' * 3) / 3)[3])

ValueError: could not convert string to float: '.'

In [ ]:
int('8' * 3) / 3

296.0

In [ ]:
#De una cadena de caracteres, estoy tomando el que esta en la posicion 3 (contando desde cero)
str(int('8' * 3) / 3)[3]

'.'

In [ ]:
print("David Amaya - 12 de Agosto de 2024")

David Amaya - 12 de Agosto de 2024

In [ ]:
#Input es una funcion que te permite almacenar una respuesta relacionada con lo que esta dentro del parentesis
a=input("Cual es tu nombre?")

Cual es tu nombre?David

In [ ]:
a

'David'

In [ ]:
print(f" Hola {a}, Como estas?")

 Hola David, Como estas?

In [ ]:
radio = float(input("Ingrese el radio del círculo: "))

Ingrese el radio del círculo: 8

In [ ]:
Diametro = 2 * radio
Perimetro = 2 * 3.14 * radio
Area = 3.14 * radio ** 2

In [ ]:
print(f"El circulo de radio 8 tiene diametro = {Diametro} , perimetro = {Perimetro} y el area = {Area}")

El circulo de radio 8 tiene diametro = 16.0 , perimetro = 50.24 y el area = 200.96

## **TAREA**

In [ ]:
# Solicitar 6 notas al usuario
notas = []
for i in range(6):
    nota = float(input(f"Ingrese la nota {i+1}: "))
    notas.append(nota)

# Calcular el promedio
promedio = sum(notas) / len(notas)

# Imprimir el promedio
print(f"El promedio es: {promedio}")

Ingrese la nota 1: 2.5
Ingrese la nota 2: 3
Ingrese la nota 3: 4.5
Ingrese la nota 4: 2.8
Ingrese la nota 5: 4
Ingrese la nota 6: 5
El promedio es: 3.6333333333333333

In [ ]:
# Solicitar un valor al usuario
valor = input("Ingrese un valor: ")

# Determinar el tipo de dato
try:
    valor_int = int(valor)
    print("El tipo de dato es: int")
except ValueError:
    try:
        valor_float = float(valor)
        print("El tipo de dato es: float")
    except ValueError:
        if valor.lower() == 'true' or valor.lower() == 'false':
            print("El tipo de dato es: bool")
        else:
            print("El tipo de dato es: str")

Ingrese un valor: hola
El tipo de dato es: str

In [ ]:
# Resolver la ecuación
resultado = ((5 + 3) / (3 - 2)) ** 2

# Imprimir el resultado
print("El resultado de la ecuación es:", resultado)

El resultado de la ecuación es: 64.0

In [ ]:
# Solicitar número de horas trabajadas
horas_trabajadas = float(input("Ingrese el número de horas trabajadas: "))

# Solicitar el coste por hora
coste_por_hora = float(input("Ingrese el coste por hora: "))

# Calcular el coste total
coste_total = horas_trabajadas * coste_por_hora

# Imprimir el valor calculado
print(f"El coste total es: {coste_total:.2f}")

Ingrese el número de horas trabajadas: 24
Ingrese el coste por hora: 10000
El coste total es: 240000.00

In [ ]:
def celsius_fahrenheit(celsius):
    fahrenheit=(celsius*9/5)+32
    return fahrenheit
def celsius_kelvin(celsius):
    kelvin=celsius+273.15
    return kelvin
celsius=float(input("Ingrese grados celsius "))
print("Los grados fahrenheit son ", celsius_fahrenheit(celsius))
print("Los grados kelvin son ", celsius_kelvin(celsius))

Ingrese grados celsius 38
Los grados fahrenheit son  100.4
Los grados kelvin son  311.15

In [ ]:
# Solicitar el primer número
num1 = int(input("Ingrese el primer número: "))

# Solicitar el segundo número
num2 = int(input("Ingrese el segundo número: "))

# Verificar si el segundo número es mayor
if num2 > num1:
    print(True)
else:
    print(False)

Ingrese el primer número: 2
Ingrese el segundo número: 3
True

In [ ]:
# Solicitar el primer número
num1 = int(input("Ingrese el primer número: "))

# Solicitar el segundo número
num2 = int(input("Ingrese el segundo número: "))

# Verificar si el segundo número es mayor
if num2 < num1:
    print(True)
else:
    print(False)

Ingrese el primer número: 2
Ingrese el segundo número: 3
False

In [ ]:
# Solicitar la distancia en metros
distancia = float(input("Ingrese la distancia en metros: "))

# Solicitar la velocidad en metros/segundo
velocidad = float(input("Ingrese la velocidad en metros/segundo: "))

# Calcular el tiempo que se demora en recorrer la distancia
tiempo = distancia / velocidad

# Imprimir el tiempo en segundos
print(f"Tiempo: {tiempo} segundos")

Ingrese la distancia en metros: 20
Ingrese la velocidad en metros/segundo: 10
Tiempo: 2.0 segundos

In [ ]:
# Solicitar los valores de a, b y c
a = float(input("Ingrese el valor de a: "))
b = float(input("Ingrese el valor de b: "))
c = float(input("Ingrese el valor de c: "))

# Calcular la expresión
resultado = ((a + b) / c) ** 2 + ((a - b) / c) ** 2

# Imprimir el resultado
print(f"El resultado de la expresión es: {resultado}")

Ingrese el valor de a: 4
Ingrese el valor de b: 6
Ingrese el valor de c: 10
El resultado de la expresión es: 1.04

In [ ]:
import math

# Calcular la raíz cuadrada de un número
numero = 16
raiz_cuadrada = math.sqrt(numero)

# Imprimir el resultado
print("La raíz cuadrada de", numero, "es:", raiz_cuadrada)

La raíz cuadrada de 16 es: 4.0

In [ ]:
import math

# Solicitar los valores de los catetos al usuario
cateto_a = float(input("Ingrese el valor del cateto a: "))
cateto_b = float(input("Ingrese el valor del cateto b: "))

# Calcular la hipotenusa usando el teorema de Pitágoras
hipotenusa = math.sqrt(cateto_a**2 + cateto_b**2)

# Imprimir el resultado
print(f"Hipotenusa = {hipotenusa}")

Ingrese el valor del cateto a: 10
Ingrese el valor del cateto b: 12
Hipotenusa = 15.620499351813308